<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=asset_path("banner.jpg")%>);">
  <div class="container">
    <h1>Your next <strong>treasure</strong> is waiting <strong>next door</strong>!</h1>
    <a class="btn btn-red mt-2" href="#">Join today</a>
  </div>
</div>
